{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %} <h2>Register Bike</h2>{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <p class="errornote">
      {{ error }}
    </p>
  {% endfor %}
{% endif %}

<div id="content-main">

<ul>
{% for bike in bikes %}
  <li><h2>
  Name: {{bike.name}} <br>
  State:
  {% if bike.available %}
    Unlocked
  {% else %}
    Locked
  {% endif %}
  <br>

  <a href="lock/{{bike.name}}">Lock</a> - <a href="unlock/{{bike.name}}">Unlock</a> - <a href="remove/{{bike.name}}">Remove</a></h2></li>
{% endfor %}
</ul> 


</div>
</form>

{% endblock %}
